$color_Green: #34a853;
$color_Amber: #fbbc04;
$color_Red: #cf3721;
$color_Blue: #4285f4;
$color_Orange: #f25c00;
$color_Orchid: #ac69b0;
$color_Gray: #4a4a4a;
$color_Light_Gray: #9b9b9b;
$color_disabled: #dfdfdf;
